@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');


/* Type styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #1a1a1a;
    margin: 0px;
    padding: 0px;
    background: #fafaf8;
    opacity: 1;
}

h1 {
    font-family: 'Darker Grotesque', serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    color: #1a1a1a;
    opacity: 1;
}

h2 {
    font-family: 'Darker Grotesque', serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1a1a1a;
    opacity: 1;
}

h3 {
    font-family: 'Darker Grotesque', serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1a1a1a;
    opacity: 1;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: left;
    color: #1a1a1a;
    opacity: 0.6;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    letter-spacing: 1px;
    color: #1a1a1a;
    opacity: 0.8;
}

a {
    text-align: left;
    text-decoration: none;
    color: #1a1a1a;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

a:hover {
    color: gray;
}

/* Structure */

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


/* Navigation */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px 50px 0px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: #1a1a1a;
}

ul {
    padding: 0px;
    margin: 0px;
}

.nav-links {
    transform: translateX(-40%);
}

.nav-links li {
    font-family: 'Darker Grotesque', serif;
    font-size: 16px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
    color: #1a1a1a;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    display: inline-block;
    align-items: baseline;
    padding-left: 40px;
    
}

.nav-links a{
    text-decoration: none;
}

.logo {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    
}



/* Hero */

.hero {
    padding: 240px 0 120px 0;
}

.hero h1 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    z-index: -5;
    text-align: center;
    padding: 0px;
    width: 60%;
    animation-name: herofadein;
    animation-duration: 0.25s;
    -webkit-animation-name: herofadein;
    -webkit-animation-duration: 0.5s;
}

.hero h3 {
    text-align: center;
    margin: auto;
}

 
@keyframes herofadein{
    0% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 100%;}
}

@-webkit-keyframes herofadein{
    0% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 100%;}
}


/* Casestudy */

.casestudy {
    padding-top: 200px;
    width: 100%;
}

.container .textblock {
    padding: 100px 0 100px 0;
    margin: 0px;
    max-width: 60%;
}

.intro {
    padding-bottom: 50px;
}

.container .image-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    object-fit: cover;
}

.image-block img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.credits {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.credits h5 {
    padding-right: 20px;
}

#agency, #role {
    display: flex;
    align-items: baseline;
}

#agency {
    padding-right: 80px;
}


#hero-img {
    max-width: 100%;
}

/* Selected work */

#select-works {
    background-color: #fafaf8;
    z-index: 10;
    width: 100%;
    animation-name: herofadein;
    animation-duration: 0.5s;
    -webkit-animation-name: herofadein;
    -webkit-animation-duration: 1s;
}

#summit {
    padding-top: 50px;
}


 
.projects{
    margin: 1000px 20% 0px 20%;
    display: flex;
    column-gap: 10%;
    z-index: 100;
}

.projects .projecttext{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 40px;
    padding-bottom: 60px;
}

.projecttext p {
    color: #797979;
}
  
.project-card{
    display: flexbox;
    width: 100%;
}
  
.projects img{
    display: block;
    object-fit: contain;
    width: 100%;
}
  
.projecttext h4, 
.projecttext h3{
    padding: 10px 0 0 0;
    margin: 0;
}
  
.year{
    font-weight: lighter;
    opacity: 0.5;
}

.next-project {
    height: 100px;
    display: flex;
    padding: 100px 0 100px 0;
}

.next-project img {
    transform: rotate(-90deg);
    padding: 50px 0 0 0;
    margin: 0px;
    align-items: baseline;
}


/* Footer */

footer {
    width: 100%;
    padding: 0px 100px 0px 100px;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer p {
    margin-right: 150px;
    text-align: right;
}


footer a,
footer p {
    color: #1A1A1A;
    font-size: small;
    padding-right: 20px;
    opacity: 0.6;
}











@media (max-width: 1440px) {


    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        background: #fafaf8;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 54px;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h3 {
        font-family: 'Darker Grotesque', serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 0.6;
    }

    h5 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: left;
        letter-spacing: 1px;
        color: #1a1a1a;
        opacity: 0.8;
    }

    a {
        text-align: left;
        text-decoration: none;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    a:hover {
        color: gray;
    }

    /* Structure */

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    main {
        padding: 0px;
        margin: 0px;
    }

    /* Navigation */

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 60px 50px 0px 50px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    header a {
        color: #1a1a1a;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    .nav-links {
        transform: translateX(-40%);
    }

    .nav-links li {
        font-family: 'Darker Grotesque', serif;
        font-size: 16px;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        display: inline-block;
        align-items: baseline;
        padding-left: 40px;
        
    }

    .nav-links a{
        text-decoration: none;
    }

    .logo {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        
    }



    /* Hero */

    .hero {
        padding: 240px 0 120px;
    }

    .hero h1 {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;
        z-index: -5;
        text-align: center;
        padding: 0px 0 0 0;
        width: 50%;
        animation-name: herofadein;
        animation-duration: 0.25s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 0.5s;
    }

    .hero h3 {
        text-align: center;
        margin: auto;
    }

    
    @keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }

    @-webkit-keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }


    /* Casestudy */

    .container .textblock {
        padding: 100px 0 100px 0;
        margin: 0px;
        max-width: 60%;
    }

    .container .image-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        object-fit: cover;
    }

    .image-block img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .credits {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    .credits h5 {
        padding-right: 20px;
    }

    #agency, #role {
        display: flex;
        align-items: baseline;
    }

    #agency {
        padding-right: 80px;
    }


    #hero-img {
        max-width: 100%;
    }

    /* Selected work */

    #select-works {
        background-color: #fafaf8;
        z-index: 10;
        animation-name: herofadein;
        animation-duration: 0.5s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 1s;
    }

    #summit {
        padding-top: 100px;
    }


    .projects{
        margin: 1000px 10% 100px 10%;
        display: flex;
        column-gap: 100px;
        z-index: 100;
    }

    .projects .projecttext{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .projecttext p {
        color: #797979;
        padding: 0px;
        margin: 0px;
    }
    
    .project-card{
        display: flexbox;
        width: 100%;
    }
    
    .projects img{
        display: block;
        object-fit: contain;
        width: 100%;
    }
    
    .projecttext h4, 
    .projecttext h3{
        padding: 0px;
        margin: 0px;
    }
    
    .year{
        font-weight: lighter;
        opacity: 0.5;
    }


    /* Footer */

    footer {
        width: 100%;
        padding: 0px 100px 20px 100px;
        
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .footer p {
        margin-right: 150px;
        text-align: right;
    }


    footer a,
    footer p {
        color: #1A1A1A;
        font-size: small;
        padding-right: 20px;
        opacity: 0.6;
    }
}








@media (max-width: 1000px) {


    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        background: #fafaf8;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 54px;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h3 {
        font-family: 'Darker Grotesque', serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 0.6;
    }

    h5 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: left;
        letter-spacing: 1px;
        color: #1a1a1a;
        opacity: 0.8;
    }

    a {
        text-align: left;
        text-decoration: none;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    a:hover {
        color: gray;
    }

    /* Structure */

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    main {
        padding: 0px;
        margin: 0px;
    }

    /* Navigation */

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 60px 50px 0px 50px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    header a {
        color: #1a1a1a;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    .nav-links {
        transform: translateX(-40%);
    }

    .nav-links li {
        font-family: 'Darker Grotesque', serif;
        font-size: 16px;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        display: inline-block;
        align-items: baseline;
        padding-left: 40px;
        
    }

    .nav-links a{
        text-decoration: none;
    }

    .logo {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        
    }



    /* Hero */

    .hero {
        padding: 240px 0 120px;
    }

    .hero h1 {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;
        z-index: -5;
        text-align: center;
        padding: 0px 0 0 0;
        width: 60%;
        animation-name: herofadein;
        animation-duration: 0.25s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 0.5s;
    }

    .hero h3 {
        text-align: center;
        margin: auto;
    }

    
    @keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }

    @-webkit-keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }


    /* Casestudy */

    .container .textblock {
        padding: 100px 0 100px 0;
        margin: 0px;
        max-width: 60%;
    }

    .container .image-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        object-fit: cover;
    }

    .image-block img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .credits {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    .credits h5 {
        padding-right: 20px;
    }

    #agency, #role {
        display: flex;
        align-items: baseline;
    }

    #agency {
        padding-right: 80px;
    }


    #hero-img {
        max-width: 100%;
    }

    /* Selected work */

    #select-works {
        background-color: #fafaf8;
        z-index: 10;
        animation-name: herofadein;
        animation-duration: 0.5s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 1s;
    }

    #summit {
        padding-top: 100px;
    }

    .projects{
        margin: 1000px 10% 50px 10%;
        display: flex;
        column-gap: 100px;
        z-index: 100;
    }

    .projects .projecttext{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .projecttext p {
        color: #797979;
        padding: 0px;
        margin: 0px;
    }
    
    .project-card{
        display: flexbox;
        width: 100%;
    }
    
    .projects img{
        display: block;
        object-fit: contain;
        width: 100%;
    }
    
    .projecttext h4, 
    .projecttext h3{
        padding: 0px;
        margin: 0px;
    }
    
    .year{
        font-weight: lighter;
        opacity: 0.5;
    }


    /* Footer */

    footer {
        
        width: 100%;
        padding: 0px 100px 20px 100px;
        
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .footer p {
        margin-right: 150px;
        text-align: right;
    }


    footer a,
    footer p {
        color: #1A1A1A;
        font-size: small;
        padding-right: 20px;
        opacity: 0.6;
    }
}







@media (max-width: 750px) {


    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        background: #fafaf8;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h3 {
        font-family: 'Darker Grotesque', serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 0.6;
    }

    h5 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: left;
        letter-spacing: 1px;
        color: #1a1a1a;
        opacity: 0.8;
    }

    a {
        text-align: left;
        text-decoration: none;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    a:hover {
        color: gray;
    }

    /* Structure */

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    main {
        padding: 0px;
        margin: 0px;
    }

    /* Navigation */

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 20px 50px 0px 50px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    header a {
        color: #1a1a1a;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    .nav-links {
        transform: translateX(-40%);
    }

    .nav-links li {
        font-family: 'Darker Grotesque', serif;
        font-size: 16px;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        display: inline-block;
        align-items: baseline;
        padding-left: 40px;
        
    }

    .nav-links a{
        text-decoration: none;
    }

    .logo {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        
    }



    /* Hero */

    .hero {
        padding: 240px 0 120px;
    }

    .hero h1 {
        position: fixed;
        top: 20%;
        left: 10%;
        transform: translateX(-10%);
        margin-left: 10%;
        margin-right: 10%;
        z-index: -5;
        text-align: left;
        padding: 0px 0 0 0;
        width: 80%;
        animation-name: herofadein;
        animation-duration: 0.25s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 0.5s;
    }

    .hero h3 {
        text-align: center;
        margin: auto;
    }

    
    @keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }

    @-webkit-keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }


    /* Casestudy */

    .container .textblock {
        padding: 100px 0 100px 0;
        margin: 0px;
        max-width: 90%;
    }

    .container .image-block {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 20px;
        object-fit: cover;
    }

    .image-block img {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .credits {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px 0 40px 0;
    }

    .credits h4,
    .credits h5 {
        padding: 0 20px 0 0;
        margin: 0px;
    }

    #agency, #role {
        display: flex;
        align-items: baseline;
        padding: 0px;
        margin: 0px;
    }

    #agency {
        padding: 0 80px 0 0;
    }


    #hero-img {
        max-width: 100%;
    }

    /* Selected work */

    #select-works {
        background-color: #fafaf8;
        z-index: 10;
        animation-name: herofadein;
        animation-duration: 0.5s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 1s;
    }

    #summit {
        padding-top: 0px;
    }

    .projects{
        margin: 800px 10% 100px 10%;
        display: flex;
        flex-direction: column;
        column-gap: 50px;
        z-index: 100;
    }

    .projects .projecttext{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .projecttext p {
        color: #797979;
        padding: 0px;
        margin: 0px;
    }
    
    .project-card{
        display: flexbox;
        width: 100%;
        padding-top: 50px;
    }
    
    .projects img{
        display: block;
        object-fit: contain;
        width: 100%;
    }
    
    .projecttext h4, 
    .projecttext h3{
        padding: 0px;
        margin: 0px;
    }
    
    .year{
        font-weight: lighter;
        opacity: 0.5;
    }


    /* Footer */

    footer {
        width: 100%;
        padding: 0px 10% 20px 10%;
        
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .footer p {
        margin-right: 100px;
        text-align: right;
    }


    footer a,
    footer p {
        color: #1A1A1A;
        font-size: small;
        padding-right: 0px;
        opacity: 0.6;
    }
}
